<div class="wrapper">
  <div id="dowload_search">
    <input class="textbox" id="searchstr" type="text" name="searchstr" placeholder="Search by Product Name" />
    <button class="btn" id="search_btn" onClick="userPageSearch();">Search</button>
  </div>
</div>

{% schema %}
  {
    "name": "User Manual Search",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
