<!-- /templates/page.liquid -->

  <div class="page-contianer">

    <header class="section-header text-center">
      <h1 class="page-title">{{ page.title }}</h1>
     
    </header>

   <div class="page-content">
          {{ page.content }} 
</div>
  </div>
