<div style="clear:both;"></div><div id="opinew-reviews-all-reviews-code" data-opw-prodreviews="{{ shop.metafields.opinew['opinew_all_reviews'] }}" class="opw-widget-wrapper-default">
    <span id="opinew_all_reviews_plugin_app"></span></div>